Online_Railway_Reservation/ORRWebsite/App_WebReferences/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59867/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="GetAll_Users">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_UsersResult" nillable="true" type="q1:ArrayOfGet_All_User_v2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="u" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_UsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_UsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="u" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_UsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_UsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_By_UserName_v2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_User_By_UserName_v2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_User_By_UserName_v2Result" nillable="true" type="q4:Get_User_By_UserName_v2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Username">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="user" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_UsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_UsernameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="user" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_InfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Trains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_TrainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_TrainsResult" nillable="true" type="q7:ArrayOfgetAll_Trains_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Trains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="t" nillable="true" type="q8:Train" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_TrainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_TrainsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Trains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_TrainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_TrainsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Trains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="t" nillable="true" type="q9:Train" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TrainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_TrainsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Train_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Train_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Train_By_IDResult" nillable="true" type="q10:get_Train_By_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Trains_v2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Trains_v2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_All_Trains_v2Result" nillable="true" type="q11:ArrayOfGet_All_Train_v2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Train_By_Train_id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Train_By_Train_idResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_Train_By_Train_idResult" nillable="true" type="q12:Search_Train_By_Train_id_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Timetables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_TimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_TimetablesResult" nillable="true" type="q13:ArrayOfgetAll_Timetables_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Timetables_v2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Timetables_v2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_Timetables_v2Result" nillable="true" type="q14:ArrayOfget_All_Timetables_v2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Timetables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="t" nillable="true" type="q15:Timetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_TimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_TimetablesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Timetables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_TimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_TimetablesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Timetables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="t" nillable="true" type="q16:Timetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_TimetablesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Timetable_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Timetable_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Timetable_By_IDResult" nillable="true" type="q17:get_Timetable_By_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Timetable_By_Train_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Timetable_By_Train_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Timetable_By_Train_IDResult" nillable="true" type="q18:ArrayOfGet_Timetable_By_Train_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Tickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_TicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_TicketsResult" nillable="true" type="q19:ArrayOfgetAll_Tickets_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Tickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="t" nillable="true" type="q20:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_TicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_TicketsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Tickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_TicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_TicketsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Tickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="t" nillable="true" type="q21:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_TicketsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Ticket_By_ID2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Ticket_By_ID2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Ticket_By_ID2Result" nillable="true" type="q22:Get_Ticket_By_ID_v2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Ticket_By_PNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Ticket_By_PNRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_Ticket_By_PNRResult" nillable="true" type="q23:ArrayOfSearch_Ticket_By_PNR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Tickets_v2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Tickets_v2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_Tickets_v2Result" nillable="true" type="q24:ArrayOfGet_All_Ticket_v2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LoginResult" nillable="true" type="q25:login_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Stations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_StationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_StationsResult" nillable="true" type="q26:ArrayOfgetAll_Stations_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="s" nillable="true" type="q27:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_StationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_StationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_StationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_StationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="s" nillable="true" type="q28:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_StationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_StationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Station_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Station_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Station_By_IDResult" nillable="true" type="q29:get_Station_By_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Station_By_Train_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Train_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Station_By_Train_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Station_By_Train_IDResult" nillable="true" type="q30:Get_Station_By_Train_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Roles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_RolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_RolesResult" nillable="true" type="q31:ArrayOfgetAll_Roles_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Roles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rolename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_RolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_RolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Roles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_RolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_RolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Roles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="r" nillable="true" type="q32:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_RolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_RolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Passengers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_PassengersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_PassengersResult" nillable="true" type="q33:ArrayOfgetAll_Passengers_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Passengers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="p" nillable="true" type="q34:Passenger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_PassengersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_PassengersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Passengers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PassengersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_PassengersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Passengers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="p" nillable="true" type="q35:Passenger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PassengersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_PassengersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Passenger_By_PNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Passenger_By_PNRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Passenger_By_PNRResult" nillable="true" type="q36:get_Passenger_By_PNR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Coaches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_CoachesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_CoachesResult" nillable="true" type="q37:ArrayOfgetAll_Coaches_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Coaches_v2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Coaches_v2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetAll_Coaches_v2Result" nillable="true" type="q38:ArrayOfGet_All_Coaches_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Coaches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="c" nillable="true" type="q39:Coach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CoachesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CoachesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Coaches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CoachesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CoachesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Coaches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="c" nillable="true" type="q40:Coach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CoachesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CoachesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Coach_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Coach_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Coach_By_IDResult" nillable="true" type="q41:get_Coach_By_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_Train_By_StatinID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OSID" type="xs:int" />
        <xs:element minOccurs="0" name="DSID" type="xs:int" />
        <xs:element minOccurs="0" name="DD" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_Train_By_StatinIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="search_Train_By_StatinIDResult" nillable="true" type="q42:ArrayOfSearch_Train_TimeTable_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Ticket_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Ticket_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Ticket_By_IDResult" nillable="true" type="q43:get_Ticket_By_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachByTrainID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachByTrainIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetCoachByTrainIDResult" nillable="true" type="q44:ArrayOfGet_Coach_By_Train_ID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Coach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainid" type="xs:int" />
        <xs:element minOccurs="0" name="coachtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_CoachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Search_CoachResult" nillable="true" type="q45:ArrayOfSearch_Coach_Type_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Passenger_By_Email">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Passenger_By_EmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Passenger_By_EmailResult" nillable="true" type="q46:ArrayOfget_Passenger_By_Email_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Ticket_By_PNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Ticket_By_PNRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="get_Ticket_By_PNRResult" nillable="true" type="q47:ArrayOfget_Ticket_By_PNR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Password">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="user" nillable="true" type="q48:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_PasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel_Ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel_TicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cancel_TicketResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Ticket_By_Train_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainid" type="xs:int" />
        <xs:element minOccurs="0" name="ct" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Ticket_By_Train_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Ticket_By_Train_IDResult" nillable="true" type="q49:ArrayOfget_Ticket_By_TrainID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationByStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetStationByStatusResult" nillable="true" type="q50:ArrayOfget_Station_By_Status_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Coach_By_Train">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idtrain" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Coach_By_TrainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Coach_By_TrainResult" nillable="true" type="q51:ArrayOfGet_Coach_By_Train_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Train_OS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Train_OSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Train_OSResult" nillable="true" type="q52:ArrayOfGet_train_By_OS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Train_Time_Sche">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Train_Time_ScheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Get_Train_Time_ScheResult" nillable="true" type="q53:ArrayOfGet_Train_By_Time_Sche2_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>